.animate-vanish
{
	opacity: 100;
	animation: vanish;
	animation-duration: 1s;
}
@keyframes vanish
{
	0%
	{
		opacity: 100;
	}
	100%
	{
		opacity: 0;
	}
}
#container
{
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	font-family: Montserrat, segoe UI, sans-serif;
	font-size: 25px; 
	transition: 1s ease-out !important;
}
span#body
{
	display: inline;
	padding: 1rem;
}
#quote-box
{
	width: 35vw;
	padding: 1rem 1.5rem;
	margin: 20vh auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}
#author
{
	text-align: right;
	font-size: 16px;
	padding: 1rem;
}
#bottom
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#socials
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#socials a
{
	padding: 0.3rem 0.5rem;
	text-decoration: none;
	margin: 0.3rem;
	align-self: center;
	border-radius: 3px;
	display: inline-block;
}
#new-quote
{
	font-family: inherit;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 2px;
	align-self: center;
	cursor: pointer;
}


@media (max-width: 800px)
{
	#container
	{
		font-size: 18px;
	}
	#quote-box
	{
		width: 80vw;
	}
	#author
	{
		font-size: 15px;
	}
}